<strong>¿Esta seguro de que desea vaciar el carrito?</strong>
<br><br>
<div style="float: left; width: auto;">
<%= button_to 'Cancelar', { :controller => 'catalog', :action => 'index' }, :method => :get %>
</div>
<div style="float: left; width: auto;">
<%= button_to 'Confirmar', :action => 'clear', :id => params[:id] %>
</div>
<br>
