<tr>
  <td><%= link_to artist.name, :action => 'show', :id => artist %></td>
  <td><%= link_to 'Edit', :action => 'edit', :id => artist %></td>
  <td>
    <%= button_to 'Delete', { :action => 'destroy', :id => artist },
        data: { confirm: "¿Estas seguro de que quieres borrar el artista #{artist.name}?" } %>   
  </td>
</tr>
