<% if @artist.errors.any? %>
  <div id="errorExplanation">
  <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
    <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <p><label for="artist_first_name">First name</label><br/>
  <%= text_field 'artist', 'first_name' %></p>
</div>

<div class="field">
  <p><label for="artist_last_name">Last name</label><br/>
  <%= text_field 'artist', 'last_name' %></p>
</div>
