<table>
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  <%= render :partial => 'artist', :collection => @artists %>
</table>

<p><%= link_to 'Añade un nuevo artista', :action => 'new' %></p>
