<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <%= render :partial => 'artist', :collection => @artists %>
</table>

<p><%= link_to 'Add a new artist', :action => 'new' %></p>
