<%= form_tag :action => 'create' do %>
  <div class="field">
	<p><label for="email">Correo</label><br/>
	<%= text_field_tag 'email' %></p>
  </div>
<%=submit_tag'Send e-mail'%>
<% end %>

<%= link_to 'Catalog', :controller => 'catalog' %>