<table>
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

  <%= render :partial => 'producer', :collection => @producers %>
</table>

<p><%= link_to 'Añadir nueva productora', :action => 'new' %></p>
