<%= render :partial => "search_box" %>

<% if @discs %>
<p>Tu busqueda "<%= params[:title] %>" ha producido
<%= pluralize @discs.size, "resultado" %>:</p>
<%= render(:partial => "discs") %>
<% end %>